aiosqlite==0.17.0
anyio==3.5.0
asgiref==3.5.0
asyncio==3.4.3
backports.cached-property==1.0.1
cached-property==1.5.2
click==8.0.3
graphql-core==3.1.7
greenlet==1.1.2
h11==0.13.0
httptools==0.3.0
idna==3.3
Pygments==2.11.2
python-dateutil==2.8.2
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
sentinel==0.3.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.26
starlette==0.16.0
strawberry-graphql==0.85.1
typing-extensions==3.10.0.2
uvicorn==0.17.1
uvloop==0.16.0
watchgod==0.7
websockets==10.1
