aiosqlite==0.17.0
anyio==3.5.0
asgiref==3.5.0
backports.cached-property==1.0.1
click==8.0.3
graphql-core==3.1.7
greenlet==1.1.2
h11==0.13.0
idna==3.3
Pygments==2.11.2
python-dateutil==2.8.2
python-multipart==0.0.5
sentinel==0.3.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.31
starlette==0.18.0
strawberry-graphql==0.95.1
typing_extensions==4.0.1
uvicorn==0.17.1
